---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { siteConfig } from "@/config";
import LayoutComponent from "../components/LayoutComponent.vue";
---

<!doctype html>
<html lang="en">
  <div id="vue-app">
    <head>
      <BaseHead title={siteConfig.title} description={siteConfig.subtitle} />
    </head>
    <body>
      <Header />
      <main></main>
      <Footer />
    </body>
  </div>


</html>
