---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import LayoutComponent from "../components/LayoutComponent.vue";

/* test pinia implementation */
import { createPinia } from "pinia";
import { createApp, h } from "vue";

// This function will initialize Pinia and the Vue app
const initializeVueApp = () => {
  const pinia = createPinia();
  const app = createApp({});
  app.use(pinia);
  app.mount("#vue-app");
};

if (typeof window !== "undefined") {
  initializeVueApp();
}
---

<!doctype html>
<html lang="en">
  <div id="vue-app">
    <head>
      <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
      <Header />
      <main>
        <LayoutComponent client:visible />
      </main>
      <Footer />
    </body>
  </div>


</html>
